<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Eat-a-burger">
    <meta name="author" content="Michael Bieniewicz-Valada">F
    <title>Be Eatin Dat Burger!</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="assets/css/burger_style.css" rel="stylesheet">

</head>

<body>
      <div>

      {{{ body }}}

      </div>
      <hr>
      <!-- / handlebars container -->
      <footer class=" center footer">
        <div class="container">
          <p> copyright © MDBValada@2018</p>
        </div>
      </footer>
</body>

</html>